<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>GrepDeal</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
	<div id="header">
		<h1>My deals</h1>
		<h2>Change the catogery to include new deals  </h2>
	</div>
	<div id="container-top"></div>
	<div id="container">
		<div id="left">
			<div id="left-top"></div>
			<div id="left-centre">
				<h1>Cool Grep deals </h1>
				<p>Clicke the link to see the details...</p>
					<ul class="menu">
					<li><a href="#">Today's deal</a></li>
					<li><a href="#">Past deals</a></li>
					</ul>
			</div>
			<div id="left-bottom"></div>
		</div>
		<div id="right">
			<div id="tabs">
				<ul>
					<li><div class="tab-active"><a href="#"><span>Dhaba</span></a></div></li>
				<li><div class="tab-active"><a href="#"><span>DealDetails</span></a></div></li>

				</ul>
			</div>
			<div id="right-top"></div>
			<div id="right-centre">
				
				<blockquote><p><b>$ 25 to Spend on Food and Drink (Pay $12)
				 or Reserved Party Room and $100 to Spend on Food and Drink</p></b></blockquote>
				
				<p><img src="images/demo.jpg" alt="an image" class="left" />
				Buy one and get one free at <a href="#">www.dhaba.com</a></p>
				
				<p/>
			</div>
						<div id="tabs">
				<ul>
					<li><div class="tab-active"><a href="#"><span>Dhaba</span></a></div></li>
				<li><div class="tab-active"><a href="#"><span>DealDetails</span></a></div></li>

				</ul>
			</div>
			
			<div id="right-top"></div>
						<div id="right-centre">
				
				<blockquote><p><b>Deal 2</p></b></blockquote>
				
				<p><img src="images/demo.jpg" alt="an image" class="left" />
				Buy one and get one free at <a href="#">www.dhaba.com</a></p>
			</div>
			<p/>
								<div id="tabs">
				<ul>
					<li><div class="tab-active"><a href="#"><span>Dhaba</span></a></div></li>
				<li><div class="tab-active"><a href="#"><span>DealDetails</span></a></div></li>

				</ul>
			</div>
			<div id="right-top"></div>	
						<div id="right-centre">
				
				<blockquote><p><b>Deal 3</p></b></blockquote>
				
				<p><img src="images/demo.jpg" alt="an image" class="left" />
				Buy one and get one free at <a href="#">www.dhaba.com</a></p>
			</div>
			
			
			<div id="right-bottom"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="container-bottom"></div>
	<div id="footer-top"></div>
	<div id="footer-centre">
		<p>&copy; Grep Deals<br />
	</div>
	<div id="footer-bottom"></div>
</body>

</html>